*{
    box-sizing: border-box;
}
body {
            font-family: sans-serif;
            color: rgb(233, 230, 235);
            background: rgb(66, 78, 110);
        }

        @media screen and (max-width: 300px) {
    .lateral{
        width:100%;
        height: 22em;
    }
    
}

@media screen and (min-width: 301px) and (max-width: 780px) {
    .lateral{
        width:100%;
        height: 20em;
    }
    
}

/* PROPIEDADES DE CONTENIDO SEGÚN ANCHO DE PANTALLA */

@media screen and (max-width: 780px) {

    /* Contenedor sin barra */
    .contenedor{
        width: 100%;
    }

    /* Seccion */
    .seccion{
        text-align: center;
    }

}

@media (min-width: 780px) {

    /* Posicion para barra lateral */
    .lateral{
        position: fixed;
        width:20%;
        height: 100%;
    }

    /* Contenedor sin barra */
    .contenedor{
        float: right;
        margin: 0.5em;
        width: 80%;
    }  
    
}
        
        h2 {
            font-family: cursive;
            color: rgb(228, 237, 228);
             background-color: rgb(24, 89, 15);
        }  
        
        #miblog{
            background-color: rgb(24, 89, 15);
        }
        
        p {
            color: rgb(235, 240, 236);
            font-family: "Helvetica", sans-serif;
        }
        
        .contenido {
            color:rgb(242, 234, 242) ;
            font-weight: bold;
            text-decoration: underline;
        }
        
        a {
            text-decoration: none;
        }