*{
        box-sizing: border-box;
}
body{
        background: rgb(5, 5, 5);
    }
     
@media screen and (max-width: 300px) {
    .lateral{
        width:100%;
        height: 22em;
    }
    
}

@media screen and (min-width: 301px) and (max-width: 780px) {
    .lateral{
        width:100%;
        height: 20em;
    }
    
}

/* PROPIEDADES DE CONTENIDO SEGÚN ANCHO DE PANTALLA */

@media screen and (max-width: 780px) {

    /* Contenedor sin barra */
    .contenedor{
        width: 100%;
    }

    /* Seccion */
    .seccion{
        text-align: center;
    }

}

@media (min-width: 780px) {

    /* Posicion para barra lateral */
    .lateral{
        position: fixed;
        width:20%;
        height: 100%;
    }

    /* Contenedor sin barra */
    .contenedor{
        float: right;
        margin: 0.5em;
        width: 80%;
    }  
    
}




        .t1{
        color: rgb(250, 245, 250);
        text-align: center;
        font-family: "Verdana", Sans-serif;
        }
        .t2{
         color: rgb(136, 235, 227);
        background: rgb(31, 77, 35);
        font-family: "Verdana", Sans-serif;   
        }
        h4{
        color: rgb(250, 245, 250);
        background: rgb(30, 43, 115);
        font-family: "Verdana", Sans-serif;
        }  
        .t2{
        color: rgb(245, 245, 245);
        background: rgb(31, 77, 35);
        font-family: "Verdana", Sans-serif;
        }
        #informacion{
         color: rgb(45, 204, 63);  
         font-family: "Verdana", Sans-serif;
        }
        p{
            color: rgb(247, 247, 247);
        }
        li{
        color: rgb(37, 173, 157) ;
        font-family: "Verdana", Sans-serif;
        }
        .Tours{
           color: rgb(37, 173, 157) ;
        font-family: "Verdana", Sans-serif; 
        }

         