*{
    box-sizing: border-box;
}
body{
display: flex;
background-color:rgb(83, 102, 120) ;
justify-content:  center;
}


.fondo{
                background-color: rgb(83, 102, 120);
                padding: 25px;
                padding-bottom: 25px;
                margin: 10px;
                
                position: absolute;
                top:5em;
                left:15em;
                z-index: 1;
            }
            #marco_invitacion{
                position: absolute;
                top:20px;
                left:80px;
                z-index: 2;
                width: 100%;
                
            }
            #titulo{
                color: rgb(221, 229, 235);
                font-size: 2em;
                font-family: "Comic Sans MS", serif;
                text-align: center;
                z-index:4;
            }
            .detalles{
                position: absolute;
                top: 28em;
                left: 13em;
                font-family: "Georgia",serif;
                margin-left: 60px;
                padding:10px;
                z-index: 2;
                background: rgb(20, 28, 51);
                color: rgb(231, 240, 238);
                border-radius: 30px;

               
            }
            #informacion{
                text-align: center;  
                margin-top: 40%;
                position: absolute;
                top:300px;
                font-size: 0.5em;
               
            }
            #volcan{

                width: 50%;
                position: absolute;
                left: 150px;
            }
            #extra{
            background-color: rgb(21, 22, 23);
            color: white;
            position: absolute;
            top: 28em;
            left: 5em;
            font-size: 3em;
            }
