*{
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 300px) {
    .lateral{
        width:100%;
        height: 22em;
    }
    
}

@media screen and (min-width: 301px) and (max-width: 780px) {
    .lateral{
        width:100%;
        height: 20em;
    }
    
}


@media screen and (max-width: 780px) {

    
    .contenedor{
        width: 100%;
    }

   
    .seccion{
        text-align: center;
    }

}

@media (min-width: 780px) {


    .lateral{
        position: fixed;
        width:20%;
        height: 100%;
    }

    .contenedor{
        float: right;
        margin: 0.5em;
        width: 80%;
    }  
    
}



/* Habilidad */

.habilidades{
    padding: 0;
}

.habilidad{
    background-color: #0F6A62;
    color: #fff;
    display: inline-block;
    font-size: 0.80em;
    padding: 0.5em;
    text-transform: uppercase;
}

.habilidad--proyecto{
    background-color: #29597C;
    color: #fff;
    display: inline-block;
    font-size: 0.80em;
    padding: 0.5em;
    text-transform: uppercase;
    margin-top: 0.5em;
}

/* Proyectos */
.proyectos{
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0,36em));
    justify-content: center;
}

.proyecto{
    padding: 0.5em;
}

.proyecto__imagen{
    width: 100%;
    padding: 1em;
}

.proyecto__titulo{
    color: #29597C;
    font-size: 1.12em;
}

.proyecto__descripcion{
    color: #797D7F;
}

